/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container {
    perspective: 800px;
    width: 60px;
    height: 60px;
    text-align: left;
}

.cube {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.6;
}

.front {
    transform: rotateY(0deg) translateZ(30px);
    background-color: #ff0055;
}

.right {
    transform: rotateY(90deg) translateZ(30px);
    background-color: #ffcc00;
}

.back {
    transform: rotateY(180deg) translateZ(30px);
    background-color: #f53b3b;
}

.left {
    transform: rotateY(-90deg) translateZ(30px);
    background-color: #8855ff;
}

.top {
    transform: rotateX(90deg) translateZ(30px);
    background-color: #0099ff;
}

.bottom {
    transform: rotateX(-90deg) translateZ(30px);
    background-color: lime;
}

@media screen and (max-width: 700px) {
    .container {
        width: 30px;
        height: 30px;
    }
    .cube {
        width: 30px;
        height: 30px;
    }
    .front {
        transform: rotateY(0deg) translateZ(15px);
    }
    .right {
        transform: rotateY(90deg) translateZ(15px);
    }
    .back {
        transform: rotateY(180deg) translateZ(15px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(15px);
    }
    .top {
        transform: rotateX(90deg) translateZ(15px);
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(15px);
    }
}